@import "variables"

#autosave > div
  display: none
  background-color: #bbb
  padding: 10px 30px
  position: absolute
  bottom: 0px
  right: 0px
  text-align: center
  width: 150px

  i
    padding: 5px

#autosave
  color: white

  .error
    background-color: $red

  .saving
    background-color: $blue

  .saved
    background-color: $green

  .active
    display: block
