@import 'variables'

#edit-resume
  .education > span
    display: inline-block

  .school,
  .title
    font-weight: 600
    padding-right: 5px

  .degree
    padding-right: 5px

  .date
    font-style: italic

  .company
    font-weight: 600
    padding-right: 5px

  .position
    font-style: italic

  .skill input
    width: 200px

  .skill a
    padding: 5px

  .skills form
    display: inline-block

  .shapeshift-container
    position: relative
    width: 100%

  .edit_skill
    position: absolute
    width: 182px
    height: 37px

    a
      position: absolute
      top: 5px

    a:hover,
    a:focus
      outline: none
      text-decoration: none

  .delete
    color: $delete-color
    right: 5px

  .delete:hover
    @include darken-color($delete-color, .75)

  .drag
    color: $facebook-blue
    right: 25px

  .drag:hover
    @include darken-color($facebook-blue, .75)

  .no-responsibilities
    color: #aaa
    font-style: italic

  .resp
    display: inline-block
    padding: 2px
    padding-left: 25px

    .text
      padding-left: 5px

  input[type='submit'].new-skill
    width: 100px
