#job_start,
#job_end,
#project_start,
#project_end,
#education_start,
#education_end
  background-color: rgba(0, 0, 0, .1)

#job_start:hover,
#job_end:hover,
#project_start:hover,
#project_end:hover,
#education_start:hover,
#education_end:hover
  background-color: rgba(0, 0, 0, .05)
  cursor: pointer

.shapeshift-container
  position: relative
  width: 100%

  .item
    background-color: #ddd
    margin: 2px
    display: inline-block
    text-align: center
    padding: 50px
    position: absolute
    width: 100px
    height: 50px
