#edit-resume
  .education > span
    display: inline-block

  .school,
  .title
    font-weight: 600
    padding-right: 5px

  .degree
    padding-right: 5px

  .date
    font-style: italic

  .company
    font-weight: 600
    padding-right: 5px

  .position
    font-style: italic

  .skill input
    width: 200px

  .skill a
    padding: 5px

  .skills form
    display: inline-block

  .skill
    position: relative

  .delete
    position: absolute
    top: 5px
    right: 5px

