#edit-resume
  label
    margin: 0px
    padding: 5px 0px 5px 0px

  input[type='text'],
  input[type='submit']
    border-radius: 3px
    border-width: 1px
    margin-bottom: 5px
    padding: 5px
    width: 100%

  .education > span
    display: inline-block

  .school,
  .title
    font-weight: 600
    padding-right: 5px

  .degree
    padding-right: 5px

  .date
    font-style: italic

  .company
    font-weight: 600
    padding-right: 5px

  .position
    font-style: italic

  .skill input
    width: 200px

  .skill a
    padding: 5px

  .skills form
    display: inline-block
