@import 'variables'

#home-page
  .accordion-header
    border-radius: 0px
  .accordion-body
    padding: 0px
  .accordion-body:not(.empty)
    border-color: gray
    border-style: solid
    border-width: 0px 1px 1px 1px
  .col-header
    font-weight: 600
    text-align: center
  .export-buttons a
    margin: 0px 3px 0px 3px
    background-color: white
    border-color: #ddd
  .export-buttons a:hover
    background-color: #eee
  .accordion
    margin-bottom: 5px

  .resume,
  .job,
  .project,
  .education
    border-top-color: #aaa
    border-top-style: solid
    border-top-width: 1px
    padding: 3px 0px 3px 0px
    > span
      display: inline-block

  .resume:first-child,
  .job:first-child,
  .project:first-child,
  .education:first-child
    border-top-style: none

  .delete
    font-size: 20px
    height: 30px

    a
      color: #BF0000
    a:hover
      color: #7F0000
      text-decoration: none

  .resume
    .name
      font-weight: 600
      padding-left: 10px
      width: 40%
    .description
      font-style: italic
      width: 30%
    .export-buttons
      width: 20%
    .delete
      width: 10%

  .job
    .company
      font-weight: 600
      padding-left: 10px
      width: 50%
    .position
      font-style: italic
      width: 40%
    .delete
      width: 10%

  .project
    .title
      font-weight: 600
      padding-left: 10px
      width: 90%
    .delete
      width: 10%

  .education
    .school
      font-weight: 600
      padding-left: 10px
      width: 50%
    .degree
      font-style: italic
      width: 40%
    .delete
      width: 10%

  .no-objects
    margin: 5px 0px 5px 0px

  .table-row
    padding: 5px

  $resource-colors: $resume-base-color $job-base-color $project-base-color $education-base-color
  $resource-classes: '#your-resumes' '#your-jobs' '#your-projects' '#your-educations'
  @each $resource-color in $resource-colors
    $resource-class: nth($resource-classes, index($resource-colors, $resource-color))
    #{$resource-class}
      > div
        border-color: $resource-color
      .accordion-header
        @include background-brightness($resource-color, 1.8)
      .table-row:nth-child(even)
        @include background-brightness($resource-color, 1.2)
      .table-row:hover
        @include background-brightness($resource-color, 1.5)
