$pagebreak: 768px

#home-page
  .accordion-header
    border-radius: 0px
  .accordion-body
    padding: 0px
  .accordion-body:not(.empty)
    border-color: gray
    border-style: solid
    border-width: 0px 1px 1px 1px
  .col-header
    font-weight: 600
    text-align: center
  .export-buttons a
    margin: 0px 3px 0px 3px
  .accordion
    margin-bottom: 5px

  .resume,
  .job,
  .project,
  .education
    border-top-color: #aaa
    border-top-style: solid
    border-top-width: 1px
    padding: 3px 0px 3px 0px
    > span
      display: inline-block

  .resume:first-child,
  .job:first-child,
  .project:first-child,
  .education:first-child
    border-top-style: none

  .delete a
    color: #BF0000

  .delete a:hover
    color: #7F0000
    text-decoration: none

  .resume
    .name
      font-weight: 600
      padding-left: 10px
      width: 40%
    .description
      font-style: italic
      width: 30%
    .export-buttons
      width: 20%
    .delete
      width: 10%

  .job
    .company
      font-weight: 600
      padding-left: 10px
      width: 50%
    .position
      font-style: italic
      width: 40%
    .delete
      width: 10%

  .project
    .title
      font-weight: 600
      padding-left: 10px
      width: 90%
    .delete
      width: 10%

  .education
    .school
      font-weight: 600
      padding-left: 10px
      width: 50%
    .degree
      font-style: italic
      width: 40%
    .delete
      width: 10%

  .resume:nth-child(even),
  .job:nth-child(even),
  .project:nth-child(even),
  .education:nth-child(even)
    background-color: rgba(0, 0, 0, .1)

  .no-objects
    margin: 5px 0px 5px 0px

  .table-row
    padding: 5px

  .table-row:hover
    background-color: rgba(0, 64, 128, .2)
