@import 'variables'

$navbar-color: #777

#pagenavbar a
  text-align: right

#main-navbar
  background-color: $navbar-color
  border-radius: 0px
  border-style: none
  margin-bottom: 0px

  a
    color: #eee

  a:hover
    @include darken-background-color($navbar-color, .8)
    color: #eee
