.center
  text-align: center

.align-right
  text-align: right


#edit-education,
#edit-job,
#edit-project,
#edit-resume
  label
    margin: 0px
    padding: 5px 0px 5px 0px

  input[type='text'],
  input[type='submit']
    border-radius: 3px
    border-width: 1px
    margin-bottom: 5px
    padding: 5px
    width: 100%

.spin
  animation: spin 1s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
