$red: #BF0000
$green: #5BBF2D
$blue: #3C9BBF
$facebook-blue: #3b5998
$facebook-blue-hover: #314B7F
$subnav-button: #3C8598
$subnav-button-hover: #336F7F
$resume-base-color: #FF7DFC
$job-base-color: #7169E8
$project-base-color: #69E87E
$education-base-color: #FFFE74
$delete-color: #BF0000
$pagebreak: 768px

@mixin background-brightness($base, $factor)
  background: (white - $base) / $factor + $base

@mixin darken-color($base, $factor)
  color: $base * $factor
